*.settings
*.project
*/target/
*/lib/
*/classes/
*.class
*.jar
*.ear
*.war
*.iml
*.ipr
*.iws
.classpath
.project
rebel.xml
/build
/bin
/.settings
/.gradle
/.groovy
/.idea
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/lib
/out
/.springBeans
/.gradletasknamecache
*.classpath
com.code.to.learn.web/src/main/webapp/WEB-INF/
